:root {
  --color-primary: #eeeeee;
  --color-secondary: #181e24;
  --color-accent: #93a5cf;
  --color-error: #d80000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Quicksand', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/**************** Header **********************/
.main-header {
  display: flex;
  flex-direction: column;
  font-size: clamp(2em, 8vw, 3em);
  height: 35vh;
  justify-content: center;
  padding: .5em 0;
  position: relative;
  margin: 0 0 1em;
}

.main-header::after {
  background: 
    radial-gradient(
      circle, 
      rgba(0, 0, 0, .5) 0%, 
      rgb(255, 255, 255) 100%
    ),
    url('/images/header.jpg')
    center center / cover no-repeat;
  bottom: 0;
  content: '';
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.main-header--title {
  font-size: clamp(1.5em, 5vw, 2em);
}

.main-header--subtitle {
  font-size: .5em;
  font-weight: 300;
  margin: 0 auto;
  width: max-content;
}

/**************** Searchbar *******************/
.main-header--searchbar {
  align-items: center;
  bottom: -1em;
  display: flex;
  font-size: .4em;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: clamp(18rem, 40vw, 40rem);
}

.main-header--searchbar__input {
  position: relative;
  width: 100%;
}

.main-header--searchbar div {
  color: var(--color-accent);
  pointer-events: none;
  left: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 
    color .3s ease-in-out,
    left .3s ease-in-out,
    top .3s ease-in-out;
}

.main-header--searchbar:focus-within div,
.main-header--searchbar input:not(:placeholder-shown) + div {
  color: var(--color-secondary);
  left: 2%;
  top: -.5em;
}

.main-header--searchbar input,
.main-header--searchbar .button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: 
    3px 3px 5px #1f1f1f16,
    -3px -3px 5px #ffffff16;
  font-family: 'Quicksand', Verdana, sans-serif;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .85em;
  padding: .8em 1.5em;
}

.main-header--searchbar input {
  background: #fff;
  color: var(--color-secondary);
  margin-right: 2%;
  width: 100%;
}

.main-header--searchbar .button {
  background: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  height: 100%;
  padding: .8em 1em;
  position: absolute;
  right: 0;
  transition: transform .1s ease-in-out;
}

.main-header--searchbar .button:active {
  transform: scale(.98);
}

.main-header--searchbar .button svg {
  fill: none;
  stroke: var(--color-primary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  width: 1.5em;
}

.main-header--searchbar .button svg path {
  fill: none;
  stroke: none;
}

/**************** Topic Nav *******************/
nav {
  align-items: center;
  border-top: 1px solid var(--color-accent);
  display: flex;
  margin: 2% auto;
  overflow: scroll;
  width: 80vw;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 1em 0;
}

nav ul li {
  background: #fff;
  box-shadow: 
    3px 3px 5px #1f1f1f16,
    -3px -3px 5px #ffffff16;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: .8em;
  margin-right: 1%;
  padding: .5em 0;
  white-space: nowrap;
}

nav ul li a {
  padding: .5em 1em;
}

nav ul li:active {
  transform: scale(.95)
}

nav ul li a.active {
  background: var(--color-secondary);
  color: var(--color-primary);
}

/************** Feed Section ******************/
.feed {
  display: grid;
  grid-auto-rows: 5px;
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(17em, 1fr)
  );
  justify-content: center;
  margin: 0 auto;
  transition: opacity .3s ease-in;
  width: 80%;
}

.feed.loading {
  display: none;
}

@supports (grid-template-rows: masonry) {
  .feed {
    grid-template-rows: masonry;
  }
}

.feed--image {
  box-shadow: 
    -3px -3px 5px #ffffff20,
    3px 3px 5px #00000020;
  height: max-content;
  overflow: hidden;
  position: relative;
}

.feed--image__photo {
  display: block;
  height: auto;
  width: 100%;
}

.feed--image__description {
  background: #ffffff85;
  bottom: .25em;
  padding: .5em 1em;
  position: absolute;
  transform: translateY(110%);
  transition: transform .3s ease-in-out;
}

.feed--image:hover .feed--image__description {
  transform: translateY(11%);
}

.feed--image__link {
  bottom: 0;
  color: transparent;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}

/**************** Detail **********************/
.detail {
  margin: 0 auto;
  width: clamp(15rem, 80%, 35em);
}

.detail--image {
  width: 100%;
}

.detail--image__photo {
  object-fit: contain;
  width: 100%;
}

/************** Loading Element ***************/
.loading-state {
	align-items: center;
	display: flex;
	height: 15rem;
	justify-content: space-evenly;
  margin: 0 auto;
	position: relative;
	width: 15rem;
}

.loading-state .circle {
	--size: clamp(1em, 25%, 2.5em);
	animation: moveCircle 1.25s infinite;
	background: var(--color-secondary);
	border-radius: 50%;
	height: var(--size);
	position: relative;
	width: var(--size);
}

.loading-state .circle:first-child {
	animation-delay: -0.25s;
}

.loading-state .circle:nth-child(2) {
	animation-delay: 0;
}

.loading-state .circle:nth-child(3) {
	animation-delay: 0.25s;
}

/**************** Offline **********************/
.offline-message {
  align-items: center;
  display: flex;
  height: 10em;
  justify-content: center;
}

/**************** Animations ******************/
@keyframes moveCircle {
	0%,
	100% {
		box-shadow: 0 1em 0.4em -0.5em #3a3a3a30;
		transform: translateY(0);
	}
	50% {
		box-shadow: 0 2em 1em -0.5em #3a3a3a45;
		filter: brightness(105%);
		-webkit-filter: brightness(105%);
		transform: translateY(-50%);
	}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}