<section class="feed">
	<% images.map((image, index) => {
    const baseClassName = "feed"
    const lazyLoad = index >= 6
  %>
		<%- include('../molecules/image', { image, baseClassName, lazyLoad }) %>
	<% }) %>
</section>