<figure class="feed--image">
  <div class="content-wrapper">
    <% const { id, urls: srcset, alt_description: alt, user: { username } } = image %>
    <%- include('../atoms/photo', { id, srcset, alt, lazyLoad }) %>
    <%- include('../atoms/description', { username }) %>
    <%- include('../atoms/photo-link', { id }) %>
  </div>
</figure>