<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index">
	<meta name="author" content="Marvin Sernee">
	<meta name="description" content="Modular Web-App build with vanilla Javascript">
	<meta name="keywords" content="HTML, CSS, Javascript, API, Web-App, PWA">
	<meta name="theme-color" content="#3B4958">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap">
	<link rel="stylesheet" href="https://css.gg/css?=&amp;heart&amp;search&amp;software-download&amp;user">
	<link rel="stylesheet" href="/dist/main.min.css">
	<script type="module" src="/dist/main.min.js"></script>
	<title>ImageFeeder</title>
  </head>
<body>
	<%- include('../organisms/header') %>
	<main>
		<%- include('../organisms/navigation') %>
		<%- include('../organisms/feed') %>
	</main>
</body>
</html>