<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Feed' }) %>
<body>
	<%- include('../organisms/header') %>
	<main>
		<%- include('../organisms/navigation') %>
		<%- include('../organisms/feed') %>
	</main>
</body>
</html>